<div class="container-fulid">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" style="width:600px"  type="search" placeholder="Search" aria-label="Search">
    <span class="input-group-text">  
        <i class="fa fa-search"></i>  
      </span>  
     <!-- <button id="button-holder" class="btn btn-default search my-2 my-sm-0" type="submit">
        <i class="fa fa-search"></i>  
     </button>  -->
  </form>
   <!-- <div class="input-group">  
      <div class="input-group-prepend">  
        <span class="input-group-text">  
          <i class="fa fa-user"></i>  
        </span>  
      </div>   
      <input id="name" type="text" class="form-control">  
    </div>   -->
  <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" style="padding-left: 650px" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
   
  </div>
</nav>
</div>
<router-outlet></router-outlet>

