<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Navbar</a>
    <form class="form-inline my-2 my-lg-0" style="padding-left: 20px;">
      <input class="form-control mr-sm-2" style="width:500px"  type="search" placeholder="Search" aria-label="Search">
      <span class="input-group-text">  
          <i class="fa fa-search"></i>  
        </span>  
    </form>
     <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" style="padding-left: 450px" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link navbar-text" href="/login">Login <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">SignUp</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item active ">
            <a href="#" class="nav-link" aria-label="View 3 items in your shopping cart">
              <span class="input-group btn btn-primary">  
                  <i class="fa fa-shopping-cart" aria-hidden="true"> Cart</i>
                </span> </a>
        </li>
      </ul>
     
    </div>
  </nav>